/vendor/
/.build/
/.phpunit.cache/
/.phpunit.result.cache
composer.lock
debian/debhelper-build-stamp
debian/*.debhelper
debian/*.debhelper.log
debian/*.substvars
debian/files
debian/tmp/
debian/multiflexi-database-connection/
debian/multiflexi-database-connection-ui/
